PORT=4000
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>/music-journal?retryWrites=true&w=majority
JWT_SECRET=replace-with-a-long-random-secret
JOURNAL_USERNAME=nikhar
JOURNAL_PASSWORD=replace-with-a-strong-password
FRONTEND_ORIGIN=http://localhost:5173
SPOTIFY_CLIENT_ID=821a0585d85a49289fa0a94af2e031a5
SPOTIFY_CLIENT_SECRET=10ba24cacc6b45cb80e216a15cbd7650
YOUTUBE_API_KEY=AIzaSyB722vUJXmPzvJYkwNA1XZSZh8f6Q6AmtA
